
@{
    ViewBag.Title = "CreateMatches";
}

<h2>Delete All Matches for Tuesday League</h2>

<h3 style="color: red;">Are you sure you want to erase all matches and create a new set of matches?</h3>
<div>
    
    
    This will erase all matches for the Tuesday League and create a new round robin set of matches using the 
    Tuesday schedule and Tuesday teams.
    <br/><br/>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.Hidden("DeleteIT","Yes")
            <input type="submit" value="Delete" class="btn btn-default"/> |
            @Html.ActionLink("Back to Home Page", "Index", "Home")
        </div>
    }
</div>
