<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="elmah" 
        connectionString="Data Source=SQL5041.site4now.net;Initial Catalog=DB_A48C47_leagues;User Id=DB_A48C47_leagues_admin;Password=Ilene913;" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="LeaguesEntities"
           connectionString="metadata=res://*/Models.LeagueModel.csdl|res://*/Models.LeagueModel.ssdl|res://*/Models.LeagueModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5041.site4now.net;Initial Catalog=DB_A48C47_leagues;User Id=DB_A48C47_leagues_admin;Password=Ilene913;&quot;"
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>