<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="LeaguesEntities"
         connectionString="metadata=res://*/Models.LeagueModel.csdl|res://*/Models.LeagueModel.ssdl|res://*/Models.LeagueModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5041.site4now.net;Initial Catalog=DB_A48C47_leagues;User Id=DB_A48C47_leagues_admin;Password=xxxxx;;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="elmah"
         connectionString="Data Source=SQL5041.site4now.net;Initial Catalog=DB_A48C47_leagues;User Id=DB_A48C47_leagues_admin;Password=xxxxxx;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
