@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

If there are any questions please contact the league coordinator

<address>
    <strong>League Coordinator:</strong>   <a href="mailto:leagues@lawnbowling.com">leagues@lawnbowling.com</a><br />
</address>