

@{
    ViewBag.Title = "Home Page";
}

<h1>FPBPC Leagues - @System.Configuration.ConfigurationManager.AppSettings["season"]</h1>
This is a custom application for automating the leagues play for both the Tuesday morning and Wednesday evening leagues.

